 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h3>Languages</h3>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-c-line-wordmark colored"></i>
      <p>My most used languages as of recent are Java, Python, and C. I have experience with C#, SQL, TypeScript, JavaScript, React, HTML, CSS, and Scala.</p>
    </div>
    <div class="tech">
      <h3>Backend/APIs</h3>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
      <i class="devicon-typescript-plain colored"></i>
      <p>My undergraduate studies involved backend development, particularly with APIs. I am comfortable with client integrations and server-side development.</p>
    </div>
    <div class="tech">
      <h3>Networks/Security</h3>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-ssh-original-wordmark colored"></i>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <p>My graduate studies have been centered around computer networks and cybersecurity. I worked on packet inspection, exploits, and vulnerabilities.</p>
    </div>
</div>
