 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Primary Languages</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-c-line-wordmark colored"></i>
      <p>My most used languages are Java, Python, and C. I also have experience with C#, SQL, TypeScript, JavaScript, React, HTML, CSS, and Scala.</p>
    </div>
    <div class="tech">
      <h2>API Development</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>A majority of my undergraduate studies at Northeastern university involved backend development, particularly with APIs. I am comfortable with client integrations and server-side development.</p>
    </div>
    <div class="tech">
      <h2>Networks & Security</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>My graduate studies at Northeastern University have been centered around computer networks and cybersecurity.</p>
    </div>
</div>
