<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 id="title1"></h3>
    <p id="tt1"><i> Tools & Technologies:&nbsp;</i></p>
    <p id="desc1"></p>
    <a id="src1" class="project-link" href="#">Source Code</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3 id="title2"></h3>
    <p id="tt2"><i> Tools & Technologies:&nbsp;</i></p>
    <p id="desc2"></p>
    <a id="src2" class="project-link" href="#">Source Code</a>
  </div>
</div>

<script>
    fetch('/assets/data/projects.json')
        .then(response => response.json())
        .then(data => {
            const projects = data.projects;
            for (let i = 0; i < projects.length; i++) {
                console.log(projects[i]);
                // populate title
                document.getElementById('title' + (i + 1)).textContent = projects[i].title;

                // populate source code link
                const srcElement = document.getElementById('src' + (i + 1));
                srcElement.href = projects[i].src;

                // populate tools & tech
                const ttNode = document.createTextNode(projects[i].tt);
                document.getElementById('tt' + (i + 1)).appendChild(ttNode);

                // populate description
                document.getElementById('desc' + (i + 1)).textContent = projects[i].desc;
            }
        });
</script>
