<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 id="title1"></h3>
    <ul>
        <li><i> Source Code:&nbsp;</i> <a id="src1"></a></li>
        <li><i> Tools & Technologies:&nbsp;</i><p class="tt1"></p></li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3 id="title2"></h3>
    <ul>
        <li><i> Source Code:&nbsp;</i> <a id="src2"></a></li>
        <li><i> Tools & Technologies:&nbsp;</i><p class="tt2"></p></li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<script>
    fetch('/assets/data/projects.json')
        .then(response => response.json())
        .then(data => {
            const projects = data.projects;
            for (let i = 0; i < projects.length; i++) {
                document.getElementById('title' + (i + 1)).textContent = projects[i].title;
                document.getElementById('tt' + (i + 1)).textContent = projects[i].tt;
                const srcElement = document.getElementById('src' + (i + 1));
                const srcLink = projects[i].src;
                console.log(srcLink);
                sourceLink.href = srcLink;
                sourceLink.textContent = 'test'; // srcLink.substring(srcLink.indexOf('https://github.com/'));
            }
        });
</script>
