<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<!-- <div class="user-projects">
<div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
</div>
<div class="contents-left">
    <h3 id="title1"></h3>
    <p id="tt1"><i> Tools & Technologies:&nbsp;</i></p>
    <p id="desc1"></p>
    <a id="src1" class="project-link" href="#">Source Code</a>
</div>
</div>

<div class="user-projects">
<div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
</div>
<div class="contents-right">
    <h3 id="title2"></h3>
    <p id="tt2"><i> Tools & Technologies:&nbsp;</i></p>
    <p id="desc2"></p>
    <a id="src2" class="project-link" href="#">Source Code</a>
</div>
</div> -->


<script>
// Fetch the JSON file
fetch('/assets/data/projects.json')
  .then(response => response.json())
  .then(data => {
    // Create a new container element
    const section = document.getElementById('projects');

    const projects = data.projects;

    // Iterate over each item in the JSON data
    projects.forEach((item, index) => {
      // Create a new item container
      const itemContainer = document.createElement('div');
      itemContainer.className = 'user-projects';

      // Create the right image container
      const imagesRightContainer = document.createElement('div');
      imagesRightContainer.className = index % 2 == 0 ? 'images-right' : 'images-left';

      // Create the image element
      const image = document.createElement('img');
      image.alt = 'mountains';
      image.src = (!item.imgPath || item.imgPath.trim() === '') ? '{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}' : item.imgPath;

      // Append the image to the right image container
      imagesRightContainer.appendChild(image);

      // Create the contents container
      const contentsContainer = document.createElement('div');
      contentsContainer.className = index % 2 == 0 ? 'contents' : 'contents-right';

      // Create the title element
      const title = document.createElement('h3');
      title.textContent = item.title;

      // Create the tools and technologies paragraph
      const ttParagraph = document.createElement('p');
      ttParagraph.innerHTML = '<i>Tools & Technologies:&nbsp;</i>' + item.tt;

      // Create the description paragraph
      const descParagraph = document.createElement('p');
      descParagraph.textContent = item.desc;

      // Create the source code link
      const sourceCodeLink = document.createElement('a');
      sourceCodeLink.className = 'project-link';
      sourceCodeLink.href = item.srcCode;
      sourceCodeLink.textContent = 'Source Code';

      // Append the title, tools and technologies paragraph, description paragraph, and source code link to the contents container
      contentsContainer.appendChild(title);
      contentsContainer.appendChild(ttParagraph);
      contentsContainer.appendChild(descParagraph);
      if (item.srcCode && item.srcCode.trim() !== '') {
        contentsContainer.appendChild(sourceCodeLink);
      }

      // Append the right image container and contents container to the item container
      itemContainer.appendChild(imagesRightContainer);
      itemContainer.appendChild(contentsContainer);

      // Append the item container to the dynamic container
      section.appendChild(itemContainer);
    });
  })
  .catch(error => {
    console.error('Error:', error);
  });
</script>